<!DOCTYPE HTML>
<html>
	<head>
		 <title>Summary</title>
         <link href="styles.css" rel="stylesheet" type="text/css" media="screen" /> 
	</head>
	<body>
	    <table id="summary">
            <thead>
                <tr>
                    <th>Module</th>
                    @{ var allMetrics = Model.AllPossibleMetrics(); }
                    @foreach(var metric in allMetrics) {
                    <th class="metric">
                        @foreach(var letter in metric.ToCharArray()){
                            <em>@letter</em>
                        }                    
                    </th>                       
                    }
                </tr>
            </thead>
            <tbody>
                @foreach(var module in Model.Targets.SelectMany(target => target.Modules)) {
                    <tr>
                        <td>
                            <a href='@String.Join(".", module.Name, "html")'>@module.Name</a>                            
                        </td>
                        @foreach(var metric in allMetrics) {
                        <td class="@this.GetQualityLevelFor(metric, module.GetWorstValueFor(metric))">
                            @module.GetWorstValueFor(metric)
                        </td>
                        }
                    </tr>
                }                
            </tbody>
        </table>
        <script src="jquery.js" type="text/javascript"></script>
        <script src="jquery.dataTables.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
		        $('#summary').dataTable({
		            bPaginate : false,
                    bInfo : false
		        });
		    });
        </script>
	</body>
</html>